@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Inventory>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Inventory>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Inventory>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Inventory>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddInventory" href="#" class="btn btn-primary"
			   onclick='createEntityModal("Inventory/AddInventory", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>
		</div>
	</div>
</div>

<table id="Inventoryslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>نام</th>
			<th>کد</th>
			<th>ضایعات</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setInventoryList">
		@foreach (var item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_Name">@item.Name</td>
				<td id="td_Code">@item.Code</td>
				<td id="td_IsWasted">
					<input checked="@item.IsWasted" id="IsWasted"
						   name="IsHall" type="checkbox"
						   value="@item.IsWasted" disabled />
				</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="EditEntityModal(@item.Id, 'Inventory/EditInventory/', '@editTitle')">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>

					<span> | </span>
					<a class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, 'Inventory/DeleteInventory/', '@deleteTitle', '@item.Name')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#Inventoryslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>