@model CostControl.BusinessEntity.Models.CostControl.OverCost
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var error = string.Empty;
}

@using (Html.BeginForm("EditOverCost", "OverCost", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitForm(this)" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal row">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.SaleCostPointId, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.DropDownListFor(model => model.SaleCostPointId, ViewBag.SaleCostPoint as IEnumerable<SelectListItem>,
							"انتخاب کنید ...", htmlAttributes: new { @class = "selectpicker form-control" })
					@Html.ValidationMessageFor(model => model.SaleCostPointId, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>


		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.OverCostTypeId, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.DropDownListFor(model => model.OverCostTypeId, ViewBag.OverCostType as IEnumerable<SelectListItem>,
							"انتخاب کنید ...", htmlAttributes: new { @class = "selectpicker form-control" })
					@Html.ValidationMessageFor(model => model.OverCostTypeId, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-12">
					<input id="StartDate" name="StartDate" type="text" class="form-control" placeholder="1398/01/01" autocomplete="off" value="@Model.StartDate.ConverToPersian()" />
				</div>
			</div>
		</div>

		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-12">
					<input id="EndDate" name="EndDate" type="text" class="form-control" placeholder="1398/01/01" autocomplete="off" value="@Model.EndDate.ConverToPersian()" />
				</div>
			</div>
		</div>

		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-12">
					@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group col col-md-12">
			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-12">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div id="errorContent" class="text-danger">

		</div>

		<div class="form-group col col-md-6">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="ثبت" class="btn btn-success" />
					<input id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" value="انصراف" />
				</div>
			</div>
		</div>
	</div>
}

@section Scripts{
	<script>
		$(document).ready(function () {
			$(".selectpicker").chosen({ /*rtl: true,*/ width: "100%" });
		});

		function displayErrorMessage(error) {
			$("#errorContent").html(error);
		}

		$('#StartDate').click(function () {
			PersianDatePicker.Show(this, '@System.DateTime.Now.ConverToPersian()');
		});

		$('#EndDate').click(function () {
			PersianDatePicker.Show(this, '@System.DateTime.Now.ConverToPersian()');
		});

		function SubmitForm(form) {
			$.ajax({
				type: "POST",
				url: form.action,
				data: $(form).serialize(),
				success: function (data) {
					if (data.success) {
						$('body').removeClass('modal-open');
						$('.modal-backdrop').remove();
						$('#apModal').hide();

						getData('OverCostList', 'OverCost');
					} else {
						displayErrorMessage(data.message);
						return false;
					}
				}
			});
			return false;
		}
	</script>
}