@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.OverCost>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.OverCost>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.OverCost>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.OverCost>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddOverCost" href="#" class="btn btn-primary"
			   onclick='createEntityModal("/OverCost/AddOverCost", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>

		</div>
	</div>
</div>

<table id="OverCostslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>از تاریخ</th>
			<th>تا تاریخ</th>
			<th>مبلغ</th>
			<th>مرکز هزینه</th>
			<th>سرفصل</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setOverCostList">
		@foreach (var item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td id="td_OverCostType">@item.Id</td>
				<td id="td_StartDate">@item.StartDate.Date.ToString("yyyy/MM/dd", new System.Globalization.CultureInfo("fa-IR"))</td>
				<td id="td_EndtDate">@item.EndDate.Date.ToString("yyyy/MM/dd", new System.Globalization.CultureInfo("fa-IR"))</td>
				<td id="td_Price">@item.Price.ToString("N")</td>
				<td id="td_SaleCostPoint">@item.SaleCostPoint.SalePointName @item.SaleCostPoint.CostPointName</td>
				<td id="td_OverCostType">@item.OverCostType.Name</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="EditEntityModal(@item.Id, '/OverCost/EditOverCost/', '@editTitle')">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>

					<span> | </span>
					<span class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, '/OverCost/DeleteOverCost/', '@deleteTitle', '@item.Id')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</span>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#OverCostslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>