@model CostControl.BusinessEntity.Models.CostControl.SaleCostPoint
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var error = string.Empty;
}

@using (Html.BeginForm("AddSaleCostPoint", "SaleCostPoint", FormMethod.Post, new { name = "frmAddSaleCostPoint", id = "frmAddSaleCostPoint", enctype = "multipart/form-data", onsubmit = "return SubmitForm(this)" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.SalePointId, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.SalePointId, ViewBag.SalePoints as IEnumerable<SelectListItem>,
						"انتخاب کنید ...", htmlAttributes: new { @class = "selectpicker form-control" })
				@Html.ValidationMessageFor(model => model.SalePointId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.CostPointId, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.CostPointId, ViewBag.CostPoints as IEnumerable<SelectListItem>,
					"انتخاب کنید ...", htmlAttributes: new { @class = "selectpicker form-control" })
				@Html.ValidationMessageFor(model => model.CostPointId, "", new { @class = "text-danger" })

			</div>
		</div>


		<div id="errorContent" class="text-danger">

		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="ثبت" class="btn btn-success" />
				<input id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" value="انصراف" />
			</div>
		</div>
	</div>
}

@section Scripts{
	<script>
		function displayErrorMessage(error) {
			$("#errorContent").html(error);
		}

		function SubmitForm(form) {
			$.ajax({
				type: "POST",
				url: form.action,
				data: $(form).serialize(),
				success: function (data) {
					if (data.success) {
						$('#apModal').modal('hide');
						getData('SaleCostPointList', 'SaleCostPoint');
					} else {
						displayErrorMessage(data.message);
						return false;
					}
				}
			});

			return false;
		}
	</script>
}