@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.SaleCostPoint>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.SaleCostPoint>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.SaleCostPoint>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.SaleCostPoint>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddSaleCostPoint" href="#" class="btn btn-primary"
			   onclick='createEntityModal("/SaleCostPoint/AddSaleCostPoint", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>
		</div>
	</div>
</div>

<table id="SaleCostPointslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>مرکز فروش</th>
			<th>مرکز هزینه</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setSaleCostPointList">
		@foreach (var item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_SalePointName">@item.SalePoint.Name</td>
				<td id="td_CostPointName">@item.CostPoint.Name</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="EditEntityModal(@item.Id, '/SaleCostPoint/EditSaleCostPoint/', '@editTitle (@item.SalePoint.Name @item.CostPoint.Name)')">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>

					<span> | </span>
					<sapn class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, '/SaleCostPoint/DeleteSaleCostPoint/', '@deleteTitle', '@item.SalePoint.Name @item.CostPoint.Name')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</sapn>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#SaleCostPointslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>