@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Buffet>

@{
	ViewData["Title"] = "فهرست مرکز فروش ها";
	Layout = null;
}

<div class="row well">
	@*<fieldset>
		<legend></legend>*@
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddBuffet" href="#" class="btn btn-primary" onclick='createEntityModal("/Buffet/AddBuffet", "مرکز هزینه")'>
				<i class="fa fa-plus"> جدید </i>
			</a>

		</div>
	</div>
</div>

<br />

<table id="Buffetslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>نام</th>
			<th>کد</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setBuffetList">
		@foreach (CostControl.BusinessEntity.Models.CostControl.Buffet item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_Name">@item.Id</td>
				<td id="td_Code">@item.Id</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning" onclick="edit(@item.Id)"> <i class="fa fa-edit"> ویرایش </i> </a>
					<span> | </span>
					<a class="btn btn-sm btn-danger" onclick="mydelete(@item.Id)"> <i class="fa fa-trash"> حذف </i> </a>

				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#Buffetslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>