@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Ingredient>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Ingredient>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Ingredient>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Ingredient>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddIngredient" href="#" class="btn btn-primary"
			   onclick='createEntityModal("/Ingredient/AddIngredient", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>

		</div>
	</div>
</div>

<table id="Ingredientslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>نام</th>
			<th>کد</th>
			<th>واحد مصرفی</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setIngredientList">
		@foreach (var item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_Name">@item.Name</td>
				<td id="td_Code">@item.Code</td>
				<td id="td_ConsumptionUnit">@item.ConsumptionUnit.Name</td>
				<td>
					<span class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, '/Ingredient/DeleteIngredient/', '@deleteTitle', '@item.Name')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</span>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#Ingredientslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>