@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.SalePoint>

@{
	Layout = null;

	var addTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.SalePoint>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.SalePoint>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.SalePoint>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddSalePoint" href="#" class="btn btn-primary"
			   onclick='createEntityModal("/SalePoint/AddSalePoint", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>
		</div>
	</div>
</div>

<table id="SalePointslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>نام</th>
			<th>کد</th>
			<th>نام لاتین</th>
			<th>سالن</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setSalePointList">
		@foreach (var item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_Name">@item.Name</td>
				<td id="td_Code">@item.Code</td>
				<td id="td_EnglishName">@item.EnglishName</td>
				<td id="td_IsHall">
					<input checked="@item.IsHall" id="IsHall"
						   name="IsHall" type="checkbox"
						   value="@item.IsHall" disabled />
				</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="EditEntityModal(@item.Id, '/SalePoint/EditSalePoint/', '@editTitle (@item.Name)')">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>

					<span> | </span>
					<a class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, '/SalePoint/DeleteSalePoint/', '@deleteTitle', '@item.Name')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script>
		$(document).ready(function () {
			$('#pageTitle').html('@ViewData["title"]');
			$('#SalePointslist').dataTable({
				"language": {
					"url": "/lib/DataTables/i18n/Persian.lang.json"
				}
			});
		});
	</script>
}