@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Recipe>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Delete);
}

<table id="Recipeslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>قلم خوراکی</th>
			<th>واحد مصرفی</th>
			<th>مقدار</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setRecipeList">
		@foreach (CostControl.BusinessEntity.Models.CostControl.Recipe item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td>@item.Ingredient.Name</td>
				<td>@item.Ingredient.ConsumptionUnit.Name</td>
				<td>@item.Amount</td>
				<td>
					<span class="btn btn-sm btn-danger"
					   onclick="DeleteRecipeModal(@item.Id, '/Recipe/DeleteRecipe/', '@deleteTitle', '@item.Id')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</span>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {

	});

	function DeleteRecipeModal(id, uri, title, itemtext) {
		debugger;
		$.ajax({
			url: uri + id,
			Type: "GET",
			data: {},
			error: function (err) {
				alert(err.status + "<--------->" + err.statusCode);
			}
		}).done(
			function (result) {
				$("#apModalLabelSecond").html(title);
				$("#modalBodySecond").html(result);
				$("#apSecondModal").modal('show');
			});
	}
</script>