@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Recipe>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTile<CostControl.BusinessEntity.Models.CostControl.Recipe>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddRecipe" href="#" class="btn btn-primary"
			   onclick='create(@ViewBag.ParentId)'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>

		</div>
	</div>
</div>

<table id="Recipeslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>ماده خوراکی</th>
			<th>مقدار</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setRecipeList">
		@foreach (CostControl.BusinessEntity.Models.CostControl.Recipe item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td>@item.IngredientId</td>
				<td>@item.Amount</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="EditEntityModal(@item.Id, '/Recipe/EditRecipe/', '@editTitle (@item.Id)')">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>

					<span> | </span>
					<a class="btn btn-sm btn-danger"
					   onclick="DeleteEntityModal(@item.Id, '/Recipe/DeleteRecip/', '@deleteTitle', '@item.Id')">
						<i class="fa fa-trash"><span> حذف </span></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {

	});
</script>