
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var error = string.Empty;
}

@using (Html.BeginForm("CheckIntakeRemittance", "IntakeRemittance", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitForm(this)" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">

			<div class="form-group">
				<input id="IntakeDate" name="IntakeDate" type="text" class = "form-control"/>
				@*@Html.LabelFor(model => model.IntakeDate, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-12">
					@Html.EditorFor(model => model.IntakeDate,
						new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.IntakeDate, "", new { @class = "text-danger" })
				</div>*@
			</div>
		</div>

		<div id="errorContent" class="text-danger">

		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="ثبت" class="btn btn-success" />
				<input id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" value="انصراف" />
			</div>
		</div>
	</div>
}

@section Scripts{
	<script>
		function displayErrorMessage(error) {
			$("#errorContent").html(error);
		}

		$('#IntakeDate').click(function () {
			PersianDatePicker.Show(this, '@System.DateTime.Now.ConverToPersian()');
		});
		
		function SubmitForm(form) {
			$.ajax({
				type: "POST",
				url: form.action,
				data: $(form).serialize(),
				success: function (data) {
					if (data.success) {
						$('#apModal').modal('hide');
						//getData('IntakeRemittanceList', 'IntakeRemittance');
					} else {
						displayErrorMessage(data.message);
						return false;
					}
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(errorThrown);
				}
			});

			return false;
		}
	</script>
}