@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.IntakeRemittance>

@{
	//Layout = "~/Views/Shared/_Layout.cshtml";
	Layout = null;
}

<h2>@ViewData["title"]</h2>

<div class="row well">
	@*<fieldset>
		<legend></legend>*@
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddIntakeRemittance" href="#" class="btn btn-primary" onclick='createEntityModal("/IntakeRemittance/AddIntakeRemittance", "مرکز هزینه")'>
				<i class="fa fa-plus"> جدید </i>
			</a>

		</div>
	</div>
	<div class="col-md-6">
		@Html.TextBox("txtSearch", "", new { placeholder = "جستجو ..." })
		<button id="btnSearch" class="btn btn-light" type="submit"><i class="fa fa-search">&nbsp;جستجو</i></button>
	</div>
	@*</fieldset>*@
</div>

<table id="IntakeRemittanceslist" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th><a id="Id" href="#">شناسه</a></th>
			<th><a id="IntakeRemittanceName" href="#">نام</a></th>
			<th><a id="code" href="#">کد</a></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setIntakeRemittanceList">
		@foreach (CostControl.BusinessEntity.Models.CostControl.IntakeRemittance item in Model.data)
		{
			<tr id="tr_@item.Id">
				<td>@item.Id</td>
				<td id="td_Name">@item.Id</td>
				<td id="td_Code">@item.Id</td>
				<td>
					<a href="#" class="btn btn-sm btn-warning" onclick="edit(@item.Id)"> <i class="fa fa-edit"> ویرایش </i> </a>
					<span> | </span>
					<a class="btn btn-sm btn-danger" onclick="mydelete(@item.Id)"> <i class="fa fa-trash"> حذف </i> </a>

				</td>
			</tr>
		}
	</tbody>
</table>

<ul class="pagination justify-content-center" style="margin:20px 0">
	<li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>

	@for (int i = 1; i < (Model.totalPage + 2); i++)
	{
		<li class="page-item @(Model.currentPage == i ? "active" : "")">
			<a asp-controller="Words" asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a>
		</li>
	}

	@*<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item active"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>*@
	<li class="page-item"><a class="page-link" href="#">بعدی</a></li>
</ul>

<script>
	function create() {
		$.ajax({
			url: "/IntakeRemittance/AddIntakeRemittance",
			type: "GET",
			data: {}
			//cache: false,
			//processData: false,
			//contentType: false,
		})
			.done(function (result) {
				$('#apModal').modal('show');

				$('#modalBody').html(result);
			});
	}

	function edit(id) {
		$.ajax({
			url: "/IntakeRemittance/EditIntakeRemittance/" + id,
			type: "GET",
			data: {}
		}).done(function (result) {
			$('#apModal').modal('show');

			$('#modalBody').html(result);
		});
	}

	function mydelete(id) {
		$.ajax({
			url: "/IntakeRemittance/DeleteIntakeRemittance/" + id,
			type: "GET",
			data: {}
		}).done(function (result) {
			$('#apModal').modal('show');

			$('#modalBody').html(result);
		});
	}

	function onComplete() {
		debugger;
		//form.preventDefault();
		$('#apModal').modal('toggle');
		alert('ddddddd');
		//$.ajax({
		//	url: "/IntakeRemittance/AddIntakeRemittance",
		//	type: "POST",
		//	data: { form }
		//}).done(function (result) {
		//	debugger;
		//	$('#apModal').modal('toggle');
		//	alert('ddddddd');
		//	getData('IntakeRemittanceList', 'IntakeRemittance');
		//});

		//window.location.href = "/Home/Index";

		return false;
	}

	function onBegin() {
		alert('begin');
	}
</script>

