@model List<CostControl.BusinessEntity.Models.CostControl.IntakeRemittanceItem>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.IntakeRemittanceItem>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.IntakeRemittanceItem>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.IntakeRemittanceItem>(EnumTitle.Delete);
}


<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddIntakeRemittance" href="#" class="btn btn-success">
				<i class="fa fa-hand-o-up"><span> افزودن دستی </span></i>
			</a>

		</div>
	</div>
</div>

<table id="IntakeRemittanceItemslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>مواد مصرفی</th>
			<th>واحد</th>
			<th>مقدار</th>
			<th>توضیحات</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setIntakeRemittanceItemList">
		@foreach (CostControl.BusinessEntity.Models.CostControl.IntakeRemittanceItem item in Model)
{
			<tr id="tr_@item.Id" class="@(item.IsAddedManually ? "table-success" : "")">
				<td>@item.Id</td>
				<td id="td_Ingredient_@item.Id">@item.Ingredient.Name</td>
				<td id="td_ConsumptionUnit_@item.Id">@item.Ingredient.ConsumptionUnit.Name</td>
				<td id="td_Amount_@item.Id"><input id="txt_Amount_@item.Id" type="text" value="@item.Amount" /></td>
				<td id="td_Description_@item.Id"><input id="txt_Description_@item.Id" type="text" value="@item.Description" /></td>
				<td>
					<a href="#" class="btn btn-sm btn-warning"
					   onclick="UpdateIntakeRemittanceItem(@item.Id)">
						<i class="fa fa-edit"><span> ویرایش </span></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#IntakeRemittanceItemslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});

	function UpdateIntakeRemittanceItem(id) {
		
		alert($('#txt_Amount_' + id).val());
		alert($('#txt_Description_' + id).val());
	}
</script>