@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.Food>

@{
	Layout = null;
	var addTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Food>(EnumTitle.Add);
	var editTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Food>(EnumTitle.Edit);
	var deleteTitle = Helper.GetEntityTitle<CostControl.BusinessEntity.Models.CostControl.Food>(EnumTitle.Delete);
}

<div class="row well">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="modal">
			<a id="btnAddFood" href="#" class="btn btn-primary"
			   onclick='createEntityModal("/Food/AddFoodExternal", "@addTitle")'>
				<span class="fa fa-plus"> <i> جدید</i></span>
			</a>

		</div>
	</div>
</div>

<table id="Foodslist" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>شناسه</th>
			<th>نام</th>
			<th>کد</th>
			<th>مرکز فروش- هزینه</th>
			<th>نوع</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="setFoodList">
		@foreach (var item in Model.data)
		{
		<tr id="tr_@item.Id">
			<td>@item.Id</td>
			<td id="td_Name">@item.Name</td>
			<td id="td_Code">@item.Code</td>
			<td id="td_SaleCostPoint">@item.SaleCostPointId</td>
			<td id="td_FoodType">@item.FoodType</td>

			<td>
				<a href="#" class="btn btn-sm btn-outline-dark"
				   onclick="details(@item.Id, '@item.Name')">
					<i class="fa fa-plus"> <span> اقلام </span> </i>
				</a>

				<span> | </span>
				<span href="#" class="btn btn-sm btn-danger"
				   onclick="DeleteEntityModal(@item.Id, '/Food/DeleteFood/', '@deleteTitle', '@item.Name')">
					<i class="fa fa-trash"><span> حذف </span></i>
				</span>
			</td>
		</tr>
		}
	</tbody>
</table>

<script>
	function details(id, title) {
		$.ajax({
			url: "/Recipe/AddRecipe/" + id,
			type: "GET",
			data: {}
		}).done(function (result) {
			$('#modalDialog').addClass('modal-lg');
				$('#apModal').modal('toggle');
				$("#apModalLabel").html('اقلام خوراکی : ' + title);

				$('#modalBody').html(result);
			});
	}

	$(document).ready(function () {
		$('#pageTitle').html('@ViewData["title"]');
		$('#Foodslist').dataTable({
			"language": {
				"url": "/lib/DataTables/i18n/Persian.lang.json"
			}
		});
	});
</script>